@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: hsl(348deg 83% 47%);
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
    font-family: emoji;
    height: 2000px;
    font-family: var(--chakra-fonts-body);
    color: var(--chakra-colors-chakra-body-text);
    background: var(--chakra-colors-chakra-body-bg);
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
    position: relative;
    min-height: 100%;
    font-feature-settings: 'kern';
}


header {
    background: url(../images/headercover.jpg)no-repeat;
    height: 100vh;
    box-sizing: cover;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: auto;
}

header nav {
    padding: 20px 0;
}

header nav h2 {
    margin: 0;
    float: left;
    color: #fff;
    font-size: 40px;
}

header nav h2 span {
    color: var(--main-color);
}

header ul {
    float: right;
    margin: 0;
}

header ul li {
    display: inline-block;
    padding: 20px;
    padding-top: 15px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: all 0.5s ease;
}

header ul li a:hover {
    background: var(--main-color);
    font-size: 20px;
    padding: 10px;
}

.intro-text {
    padding-top: 15%;
    color: #fff;
    text-align: center;
}

.intro-text h1 {
    margin: 5px 0;
    font-size: 80px;
}

.intro-text p {
    margin: 0;
}

.intro-text .small-title {
    font-size: 20px;
    font-weight: bold;
}

.intro-text .sub-title {
    font-size: 25px;
}

.intro-text .sub-title span {
    color: var(--main-color);
}

.intro-text a {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}


.Carrers {
    padding: 80px 0;
}

.Carrers .title {
    color: #000;
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

.Carrers .sub-title {
    text-align: center;
    font-size: 20px;
    position: relative;
    color: var(--main-color);
}

.Carrers .sub-title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 3%;
    background: #212121;
    right: 42%;
    top: 47%;
}

.Carrers .sub-title::before {
    content: "";
    width: 3%;
    height: 2px;
    background: #212121;
    position: absolute;
    left: 43%;
    top: 47%;
}


.Carrers .text,
.Carrers .form-parent {
    width: 50%;
    float: left;
    padding: 20px;
    color: #121212;
}

.Carrers p {
    line-height: 1.6;
    font-weight: bolder;
    word-spacing: 1.6;
}

.Carrers .form-parent h2 {
    margin: 5px 0;
}

.Carrers .form-parent input,
.Carrers .form-parent textarea {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 5px;
}

.w-50 {
    width: calc(50% -10px);
    float: left;
}

.w-100 {
    width: 99%;
}

.Carrers .form-parent textarea {
    height: 150px;
}

.Carrers .form-parent button {
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
}

.Carrers .text .item {
    width: 30%;
}

.Carrers .text .item .icon,
.Carrers .text .item .description {
    float: left;
}

.Carrers .text .item .icon {
    padding: 6px;
    margin: 17px;
    padding-left: 0;
    margin-left: 0;
    font-size: 20px;
    color: var(--main-color);
}

.Carrers .text .item .description p {
    margin: 5px 0;
}

footer {
    color: #ffffff;
    padding: 10px 0;
}
footer .footer-top {
    background: #032a63;
    padding: 74px 0;
}
footer .footer-top .social-media {
    padding-left: 0;
}
footer .footer-top .social-media li a {
    background: #ffffff;
    padding: 10px 6px 2px 6px;
    line-height: 1;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
@media (max-width: 767px) {
    footer .footer-top .social-media li a {
        padding: 4px 4px 2px 4px;
    }
}   
footer .footer-top .social-media li a i {
    color: #032a63;
    font-size: 20px;
}
@media (max-width: 767px) {
    footer .footer-top .social-media li a i {
        font-size: 14px;
    }
}
footer .footer-top .social-media li a:hover {
    background: #000000;
}
footer .footer-top .social-media li a:hover i {
    color: #ffffff;
}
footer .footer-top .footer-border-bottom {
    border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}
footer .footer-top .count {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d1011c;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
}
footer .footer-bottom {
    padding: 24px 0 48px 0;
    background: #032a63;
}
.error-wrap {
    width: 394px;
    margin: 240px auto;
    text-align: center;
}
@media (max-width: 999px) {
    .error-wrap {
        margin: 80px 0;
    }
}