@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");



:root {
  --main-color: hsl(348deg 83% 47%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: emoji;
  height: 2000px;

  font-family: "Arial", Helvetica, sans-serif;

}




header {
  background: url(../images/headercover.jpg)no-repeat;
  height: 100vh;
  box-sizing: cover;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin: auto;
}

header nav {
  padding: 20px 0;
}



header nav h2 {
  margin: 0;
  float: left;
  color: #fff;
  font-size: 40px;
}

header nav h2 span {
  color: var(--main-color);
}

header ul {
  float: right;
  margin: 0;
}

header ul li {
  display: inline-block;
  padding: 20px;
  padding-top: 15px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease;
}

header ul li a:hover {
  background: var(--main-color);
  font-size: 20px;
  padding: 10px;
}

.intro-text {
  padding-top: 15%;
  color: #fff;
  text-align: center;
}

.intro-text h1 {
  margin: 5px 0;
  font-size: 80px;
}

.intro-text p {
  margin: 0;
}

.intro-text .small-title {
  font-size: 20px;
  font-weight: bold;
}

.intro-text .sub-title {
  font-size: 25px;
}

.intro-text .sub-title span {
  color: var(--main-color);
}

.intro-text a {
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.servies {
  background: #121212;
  padding: 100px 0;
}

.servies .title,
.servies .sub-title {
  text-align: center;
  color: #fff;
}

.servies .title {
  font-size: 40px;
  margin: 5px 0;
}

.servies .sub-title {
  font-size: 25px;
  position: relative;
  color: var(--main-color);
}

.servies ::after {
  content: "";
  width: 3%;
  height: 2px;
  background: #fff;
  position: absolute;
  right: 39%;
  top: 50%;
}

.servies ::before {
  content: "";
  width: 2.5%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 40%;
  top: 47%;
}

.servies .our-servies {
  margin-top: 90px;
}

.servies .our-servies div {
  width: 33%;
  display: inline-block;
  color: #fff;
}

.servies .our-servies div .son {
  text-align: center;
  width: 80%;
  padding: 20px;
  background: #212121;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.servies .our-servies div .son p {
  line-height: 1.6;
  font-size: 16px;
  font-weight: bolder;
}

.contact {
  padding: 80px 0;
}

.contact .text {
  width: 50%;
  float: left;
  padding: 20px;
  color: #121212;
}

.contact p {

  line-height: 1.6;
  font-weight: bolder;
  word-spacing: 1.6;
}



.contact .text .item {
  width: 30%;
}

.contact .text .item .icon,
.contact .text .item .description {
  float: left;
}

.contact .text .item .icon {
  padding: 6px;
  margin: 17px;
  padding-left: 0;
  margin-left: 0;
  font-size: 20px;
  color: var(--main-color);
}

.contact .text .item .description p {
  margin: 5px 0;
}


[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/images/Logo.jpeg);

}

.main h2 {
  color: #000;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: #000;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}


footer {
  color: #ffffff;

}

footer .footer-top {
  background: #032a63;
  padding: 74px 0 48px 0;
}

footer .footer-top .social-media {
  padding-left: 0;
}

footer .footer-top .social-media li a {
  background: #ffffff;
  padding: 10px 6px 2px 6px;
  line-height: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (max-width: 767px) {
  footer .footer-top .social-media li a {
    padding: 4px 4px 2px 4px;
  }
}

footer .footer-top .social-media li a i {
  color: #032a63;
  font-size: 20px;
}

@media (max-width: 767px) {
  footer .footer-top .social-media li a i {
    font-size: 14px;
  }
}

footer .footer-top .social-media li a:hover {
  background: #000000;
}

footer .footer-top .social-media li a:hover i {
  color: #ffffff;
}

footer .footer-top .footer-border-bottom {
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

footer .footer-top .count {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #d1011c;
  font-size: 10px;
  text-align: center;
  padding-top: 1px;
}

footer .footer-bottom {
  padding: 24px 0 48px 0;
  background: #032a63;
}

.error-wrap {
  width: 394px;
  margin: 240px auto;
  text-align: center;
}

@media (max-width: 999px) {
  .error-wrap {
    margin: 80px 0;
  }
}

.error-title {
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  margin-bottom: 75px;
}

@media (max-width: 999px) {
  .error-title {
    font-size: 40px;
  }
}

